<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>

    <body>
        {{>header}}
        <img src="./img/launcher_bg.png"/>
        {{>footer}}
    </body>
</html>