<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>

    <body>
        {{>header}}
        <p>Page not found.</p>
        {{>footer}}
    </body>
</html>